version: "3.8"
services:
  postgres:
    image: postgres:16
    container_name: local_postgres
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: appsecret
      POSTGRES_DB: pagila
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./scripts:/docker-entrypoint-initdb.d
  pgadmin:
    image: dpage/pgadmin4:8
    container_name: local_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: adminsecret
    ports:
      - "8080:80"
    depends_on:
      - postgres
volumes:
  pg_data: